# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Otus.SpaHosting.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Otus\Otus.SpaHosting\.idea\.idea.Otus.SpaHosting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

